<div class="container-fluid" style="
    height: 7vh;
    background-color: rgb(238, 238, 238);">
    <div class="container">
        <div class="row">
             <div class="col">
                <h6 style="font-size: 30px; font-weight: bold;">
                   Mobile Store
                </h6>
                 <span style="font-size: 1rem;" class="lead"></span>
            </div>
            <div class="col text-right">
                <button  *ngIf="button === 'logout'" type="button" style="margin-top: 7px;" 
                    class="btn btn-danger"  >
                     logout
                </button>
                <button  *ngIf="button === 'view-cart'" type="button"  style="margin-top: 7px;" 
                    class="btn btn-light"  routerLink="/cart" >
                     <i class="fas fa-shoppingcart" style="transform: rotateY(180deg) !important;"></i>
                     view cart
                </button>
                <p>{{msg}}</p>
            </div>
          </div>
       </div>
    </div>
<br />